<ion-content>
  <ion-card color="secondary" >
    <ion-label class="ion-text-wrap">
      <ion-text style="font-size:14px">¡Hola! Gracias por usar UNapp. Esta aplicación fue desarrollada por: Andrés Céspedes, Diego
        Macías, Jean Romero y Valentina Ñustez
      </ion-text>
      <br><br>
      <ion-text style="font-size:14px">Mi primera app :D</ion-text>
      <br><ion-text style="font-size:14px">Versión: 1.0</ion-text>
      <br>
      <ion-text style="font-size:14px">Última actualización: Junio 2020</ion-text>
    </ion-label>
      <br>
      <ion-card color="mio" button=true (click)="showToast()">
        <ion-label class="ion-text-wrap"><h5>¡No presiones este botón!</h5></ion-label> </ion-card>
      </ion-card> 
</ion-content>