.cartas_ini{
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;
}
  .center {
    display: block;
    margin: auto;
    width: 20%;
   }

   .md .centered-p {
    text-align: center;
    margin-left: 0%
  }