<ion-header>
  <ion-toolbar color="primary">
    <ion-button fill="clear" slot="start" routerLink="/tab2">
      <ion-icon name="return-down-back" color=white></ion-icon>
    </ion-button>
    <ion-title >
      Grupos
    </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content >


<ion-card class= "centered" color="white" style="width: 220px; height: 230px;" button=true routerLink="/grupos-e-inicio">
  <ion-card-content>
    <ion-img src="assets/Imagenes/estudiantil.jpg"></ion-img>
    <br>
    <ion-card-subtitle style="font-size:19px" class= "center">
      Estudiantiles
    </ion-card-subtitle>
  </ion-card-content>
</ion-card>

<ion-card class= "centered" color="white" style="width: 220px; height: 230px;" button=true routerLink="/GruposU">
    <ion-card-content>
      <ion-img src="assets/Imagenes/institucional.jpg"></ion-img>
      <ion-card-subtitle style="font-size:19px" class= "center" >
        Institucionales
      </ion-card-subtitle>
    </ion-card-content>
</ion-card>



</ion-content>
