.esp2 {
    display: block;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
   }
   .esp {
    display: block;
    margin-left: -10px;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
   }
